/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */
   
   
 /* Generated by Font Squirrel (http://www.fontsquirrel.com) on May 18, 2011 05:24:22 PM America/New_York */

@font-face {
    font-family: 'DroidSansRegular';
    src: url('DroidSans-webfont.eot');
    src: url('DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSans-webfont.woff') format('woff'),
         url('DroidSans-webfont.ttf') format('truetype'),
         url('DroidSans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: 'DroidSansRegular';
}
   
.container {
	width: 960px;
	margin: 0 auto;
}
header {
    background-color: #007A99;
    border-bottom: 1px solid #FFFFFF;
    height: 69px;
    display: block;
    margin-bottom: 75px;
}

.header-img {
    background: url("../img/semi-logo.png") no-repeat scroll left top transparent;
}

.header-right {
    float: right;
    height: 128px;
    position: relative;
    text-indent: -99999px;
    width: 128px;
    z-index: 500;
}
#nav-container {
    float: left;
    margin-top: 7px;
}
#navigation { 
  list-style-type: none; 
  padding: 0; 
  margin: 0;
  float: left;
}

#navigation li { 
  float: left; 
  position: relative; 
  margin: 10px 0; 
}
#navigation li:hover { 
  
}
#navigation li a {
  display: block; 
  padding: 10px; 
  color: #fff; 
  text-decoration: none;
  font-size: 1.2em;
}
#navigation li a:hover { 
    background: none repeat scroll 0 0 #FFF;
    border-radius: 5px 5px 5px 5px;
    color: #007A99;
}
#navigation li ul { opacity: 0; position: absolute; left: 0; width: 12em; background: #63867f; list-style-type: none; padding: 0; margin: 0; }
#navigation li:hover ul { opacity: 1; }
#navigation li ul li { float: none; position: static; height: 0; line-height: 0; background: none; }
#navigation li:hover ul li { height: 30px; line-height: 30px; }
#navigation li ul li a { background: #63867f; }



#navigation li { -webkit-transition: all 0.2s; -moz-transition: all 0.2s;  }
#navigation li a { -webkit-transition: all 0.5s; -moz-transition: all 0.2s; }
#navigation li ul { -webkit-transition: all 1s; -moz-transition: all 0.2s; }
#navigation li ul li { -webkit-transition: height 0.5s; -moz-transition: all 0.2s; }


.services h3 {
	min-height: 40px;
}
.services .translation {
	
}




/* Arfully Masterminded by ZURB */

/* --------------------------------------------------
:: Grid
This is the mobile-friendly, responsive grid that
lets Foundation work much of its magic.
-------------------------------------------------- */

.container { padding: 0 20px; }

.row { width: 100%; max-width: 980px; min-width: 727px; margin: 0 auto; }
/* To fix the grid into a certain size, set max-width to width */
.row .row { min-width: 0; }

.column, .columns { margin-left: 4.4%; float: left; min-height: 1px; position: relative; }
.column:first-child, .columns:first-child { margin-left: 0; }

.row .one.columns { width: 4.3%; }
.row .two.columns { width: 13%; }
.row .three.columns { width: 21.68%; }
.row .four.columns { width: 30.4%; }
.row .five.columns { width: 39.1%; }
.row .six.columns { width: 47.8%; }
.row .seven.columns { width: 56.5%; }
.row .eight.columns { width: 65.2%; }
.row .nine.columns { width: 73.9%; }
.row .ten.columns { width: 82.6%; }
.row .eleven.columns { width: 91.3%; }
.row .twelve.columns { width: 100%; }

.row .offset-by-one { margin-left: 13.1%; }
.row .offset-by-two { margin-left: 21.8%; }
.row .offset-by-three { margin-left: 30.5%; }
.row .offset-by-four { margin-left: 39.2%; }
.row .offset-by-five { margin-left: 47.9%; }
.row .offset-by-six { margin-left: 56.6%; }
.row .offset-by-seven { margin-left: 65.3%; }
.row .offset-by-eight { margin-left: 74.0%; }
.row .offset-by-nine { margin-left: 82.7%; }
.row .offset-by-ten { margin-left: 91.4%; }

.row .centered { float: none; margin: 0 auto; }

.row .offset-by-one:first-child { margin-left: 8.7%; }
.row .offset-by-two:first-child { margin-left: 17.4%; }
.row .offset-by-three:first-child { margin-left: 26.1%; }
.row .offset-by-four:first-child { margin-left: 34.8%; }
.row .offset-by-five:first-child { margin-left: 43.5%; }
.row .offset-by-six:first-child { margin-left: 52.2%; }
.row .offset-by-seven:first-child { margin-left: 60.9%; }
.row .offset-by-eight:first-child { margin-left: 69.6%; }
.row .offset-by-nine:first-child { margin-left: 78.3%; }
.row .offset-by-ten:first-child { margin-left: 87%; }
.row .offset-by-eleven:first-child { margin-left: 95.7%; }

img, object, embed { max-width: 100%; height: auto; }
img { -ms-interpolation-mode: bicubic; }

/* Nicolas Gallagher's micro clearfix */
.row:before, .row:after, .clearfix:before, .clearfix:after { content:""; display:table; }
.row:after, .clearfix:after { clear: both; }
.row, .clearfix { zoom: 1; }


/* --------------------------------------------------
:: Grid
-------------------------------------------------- */

/* Tablet screens */
@media only screen and (device-width: 768px), (device-width: 800px) {
/* Currently unused */
}


/* Mobile */
@media only screen and (max-width: 767px) {
body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }
.container { min-width: 0; margin-left: 0; margin-right: 0; }
.row { width: 100%; min-width: 0; margin-left: 0; margin-right: 0; }
.row .row .column, .row .row .columns { padding: 0; }
.column, .columns { width: auto !important; float: none; margin-left: 0; margin-right: 0; }
.column:last-child, .columns:last-child { margin-right: 0; }
.offset-by-one, .offset-by-two, .offset-by-three, .offset-by-four, .offset-by-five, .offset-by-six, .offset-by-seven, .offset-by-eight, .offset-by-nine, .offset-by-ten, .offset-by-eleven, .centered { margin-left: 0 !important; }


/* Mobile 4-column Grid */
.row .phone-one.column:first-child, .row .phone-two.column:first-child, .row .phone-three.column:first-child, .row .phone-four.column:first-child, .row .phone-one.columns:first-child, .row .phone-two.columns:first-child, .row .phone-three.columns:first-child, .row .phone-four.columns:first-child { margin-left: 0; }

.row .phone-one.column, .row .phone-two.column, .row .phone-three.column, .row .phone-four.column,
.row .phone-one.columns, .row .phone-two.columns, .row .phone-three.columns, .row .phone-four.columns { margin-left: 4.4%; float: left; min-height: 1px; position: relative; padding: 0; }

.row .phone-one.columns { width: 21.68% !important; }
.row .phone-two.columns { width: 47.8% !important; }
.row .phone-three.columns { width: 73.9% !important; }
.row .phone-four.columns { width: 100% !important; }


}


/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
